body {
    font-family: 'Assistant', sans-serif;
}

.call-stack-frame {
    border-left: 4px solid;
    padding: 10px;
    padding-right: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

